body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: black;
}

.container-fluid {
    text-align: center;
}

.title {
    color: black;
    font-size: 12pt;
    font-family: Calibri, sans-serif;
}

.weather-container {
    margin-top: 2cm;
    text-align: left;
}

.weather-title {
    color: black;
}

.main-title {
    font-size: 20pt;
    color: black;
}

.error-message {
    color: red; 
}

body {
    background-image: url('background.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
}